<header class="text-center">
  <nav>
    <h1>Burger Time!</h1>
  </nav>
</header>
<div class="container text-center">
  <div class="row">
    <div class="col-md-6 col-xs-12">
      <h1>Freshly Made Burgers!</h1>
      <hr>
      <ul class="burgers">
        {{#each burgers}}
          {{#unless this.devoured}}
            <li>
              <div class="burger">
                <h4>{{this.burger_name}}</h4>
                <form action="burgers/update/devour/{{this.id}}?_method=PUT" method="POST">
                  <button class="btn btn-warning" type="submit" style="float:right">DEVOUR!</button>
                </form>
              <div>
            </li>
          {{/unless}}
        {{/each}}
      </ul>
    </div>
    <div class="col-md-6 col-xs-12">
      <h1>Devoured Burgers</h1>
      <hr>
      <ul class="burgers">
        {{#each burgers}}
          {{#if this.devoured}}
            <li>
              <div class="burger">
                <h4>{{this.burger_name}}</h4>
                <form action="burgers/update/reorder/{{this.id}}?_method=PUT" method="POST">
                  <button class="btn btn-primary btn-sm" type="submit">Re Order!</button>
                </form>
                <form action="burgers/delete/{{this.id}}?_method=DELETE" method="POST">
                  <button class="btn btn-danger btn-sm" type="submit">DELETE!</button>
                </form>
              </div>
            </li>
          {{/if}}
        {{/each}}
      </ul>
    </div>
  </div>
  <div class="row bottom">
    <h1>Add a Burger</h1>
    <form class="form-inline" action="burgers/create" method="POST">
      <div class="form-group">
        <label for="ca"><h4>Burger Name:</h4></label>
        <input type="text" id="ca" name="name" class="form-control" required>
      </div>
      <button class="btn btn-success" type="submit">Add Burger</button>
    </form>
  </div>
</div>
